@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
    font-family: Arial, sans-serif;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#gif {
    width: 60%;
    /* Đặt chiều rộng ảnh là 80% */
    height: auto;
    /* Giữ tỉ lệ ảnh */
    display: block;
    /* Căn giữa ảnh */
    margin: 0 auto;
    /* Căn giữa ảnh */
}

#gif:active {
    transform: scale3d(1.3, 1.3, 1.3);
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin-bottom: 100px;
    font-size: 45px;
}

#btn-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    width: 150px;
    position: absolute;
    height: inherit;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    font-size: 30px;
}

button:nth-child(1) {
    margin-left: -200px;
    background: #e94d58;
}

button:nth-child(2) {
    margin-right: -200px;
    background: white;
    color: #e94d58;
}

#no-btn {
    cursor: not-allowed;
}
p {
    transition: opacity 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt mà */
}
